        <div class="container-fluid" style="background-color: #BBFBFF;">

            <footer class="py-2 my-2">
                <div class="container">
                    <ul class="nav justify-content-center border-bottom border-2  pb-3 mb-3">
                        <li class="nav-item "><a href="#" class="nav-link px-3 text-body-secondary fs-5">Home</a></li>
                        <li class="nav-item"><a href="#." class="nav-link px-3 text-body-secondary fs-5">Features</a>
                        </li>
                        <li class="nav-item"><a href="#." class="nav-link px-3 text-body-secondary fs-5">FAQs</a></li>
                        <li class="nav-item"><a href="#." class="nav-link px-3 text-body-secondary fs-5">About</a></li>
                    </ul>
                </div>
                <p class="text-center Footer-End mt-2 fs-4">© Nishant Kalburgi</p>

            </footer>
        </div>
        </section>
        <div class="apology-content">
            <h3 class="apology-header">Sorry This Website is only for Big Screens</h3>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js"
            integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous">
        </script>
        <script src="/frontend.js"></script>
        </body>
        

        </html>